+++
title = "Flourish Documentation"
linkTitle = "Flourish Documentation"

+++

{{< blocks/cover title="Welcome to Flourish Documentation: Home to all your cannabis growing needs!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Contribute <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">The seed to sale solution made for cultivators, manufacturers, distributors, and retailers.</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Whether you are an independent cultivator, vertically integrated, or multi-state operator, Flourish captures and centralizes critical business data, automates processes, and provides advanced analytics and reporting that nourishes your businesses growth.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Continuously Flourish!" %}}
We love our docs clean, simple to follow and always up to date

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!"%}}
We do a [Pull Request](https://github.com/VS-work/flourish-user-docs/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/FinallyFlourish" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">More on Flourish</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Cultivators" %}}
Increase yields, optimize your cultivation operating procedures and easily track your plants’ entire lifecycle, from seed to sale.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Manufacturers" %}}
Standardize your proprietary run processes and manage your entire facility including machines, ingredients and non-cannabis inventory.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Distributors" %}}
Build strong relationships with partners and vendors and efficiently deliver products with driver, vehicle and sales rep tracking.
{{% /blocks/feature %}}

{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Retailers" %}}
Deliver a fast and secure customer/patient retail experience with our customizable Retail software and Point of Sale app.
{{% /blocks/feature %}}

{{< /blocks/section >}}
